
html{
  width:100%;
  height:100%;
}
body{
 width:100%;
  height:100%;

}

.show-container{
  font-family: Open Sans;
  background: linear-gradient(326.86deg, #FFFFFF -11.31%, rgba(247, 241, 241, 0.88) 75.2%);
  text-align : center;
  height : 100%;
  margin-right: auto;
  margin-left: auto;
  height: fit-content;
  i {
    justify-self: unset!important;
  }
  .mapboxgl-canvas {
    left: 0;
  }
  .participants {
    box-shadow: 2px 13px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
    margin-right: 0;
    padding: 1px 15px;
    line-height: 10px;
    vertical-align: middle;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    padding-top: 14px;
  }

  .btn_all {
    margin: 28px auto;
  }

  h1 {
    text-align: left !important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 41px;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.9);
  }

 h5{
    text-align : left!important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 41px;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.9);
    margin: auto;
 }

  .fas {
    color: #f05d59;
    display: table-cell;
    vertical-align: middle;
  }
  h3{
    // border-bottom: 1px solid #fff;
    text-align : left!important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.9);

  }
}

.parti-title {
  margin-left: 15px;
}

.box-text{
  color: rgba(0, 0, 0, 0.9);
  font-size:14px;
  // margin-top: 50px;
  // border-bottom: 1px solid #fff;
 box-shadow: 0px 4px 9px -5px rgba(255, 255, 255, 0.30);
 padding-bottom: 10px;
 padding: 1px 15px;
  color:#000;
  margin: 5px auto;
  display: table;
   i{
    font-size:20px;
    margin: 0 5px;
   }

  span{
    font-style: italic;
  }
}

.participants{


   a{
    color: rgba(0, 0, 0, 0.9)
  }
  ul li{
    display: inline-block;

  }
}


.participants-list{
 position: relative;
 text-align: center;
 display: flex;
 justify-content: center;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.btn-access{
   border-radius: 50%;
   padding: 10px;
   background-color:none;
   border: 1px solid #fff;
   opacity:1;
    &:hover {
        opacity: .7;
    }

}


.btn-decline{
  border-radius: 50%;
  padding: 10px;
  background-color:none;
  border: 1px solid #fff;
  width:40px;
  height: 40px;
  text-align: center;
  opacity:1;
    &:hover {
        opacity: .7;
    }


}

.btn-demarrer{
  background-color: rgba(0, 0, 0, 0.9);
  padding: 15px;
  border-radius:50px;
  width:50%;
  margin: 10px auto;
  color:#000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 4px 10px rgba(21, 35, 56, 0.26);
  width: 229px;
  height: 56px;
  margin: 55px auto;
  margin-bottom: 0;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  transition: opacity 0.3s ease;
  &:active {
    background : #F05D59;
    color : white;
  }
  &:hover{
    background : #F05D59;
    color : white;
  }
}


