#title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  letter-spacing: -0.458235px;
  color: #FFFFFF;
  text-align: center;
}

.suggestions-body {
  background: linear-gradient(167.48deg, #F6A362 5.69%, #EA934F 96.53%);
  height: 100vh;
  width: 100%;
}

.card-game {
  overflow: hidden;
  border-radius: 30px;
  height: 120px;
  width: 80%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 35px auto;
}

.card-game img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-game h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: Open Sans;
  color: rgba(0, 0, 0, 0.9);
}

.card-game a {
  font-family: Open Sans;
  color: rgba(0, 0, 0, 0.9);
}

.card-game p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  font-family: Open Sans;
  color: rgba(0, 0, 0, 0.9);
}

.card-game .card-game-infos {
  padding: 16px;
}

.no-game {
  width: 80%;
  margin: 50px auto;
  text-align: center;

    p {
      color: white;
      font-family: Open Sans;
      font-size: 20px;
    }
}

#smiley {
  color: white;
  font-size: 200px;
}
