
.bg-games{
  background: linear-gradient(326.86deg, #FFFFFF -11.31%, rgba(247, 241, 241, 0.88) 75.2%);
  h1 {
    text-align: left !important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 41px;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.9);
  }
  span {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
  }
}

.game-box{
  h2 {
     font-family: Open Sans;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     font-size: 25px;
     letter-spacing: -0.458235px;
     color: rgba(0, 0, 0, 0.75);;
     text-align:center;
  }


}

.game-img{
  width: 100%;
  background-color: #fff;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px auto;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);

  img{
   width:250px;
   height: 250px;
  }

}

.game-description{
  background-color: #fff;
  padding: 20px 30px;
  color:#000;
  border-radius: 10px;
  margin: 10px auto;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);

  p {
    font-size: 14px;
  }

   span{
      font-weight: bold;
      margin-right: 5px;

   }
}

.cont-desc {
  margin-top: 20px;
}

.game-stickers {
  color: #000;
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  justify-items: center;
  p {
    box-shadow: 2px 13px 30px rgba(0, 0, 0, 0.2);
    padding: 1px 15px;
    border-radius: 10px;
    background-color: #fff;
    line-height: 30px;
    display: table-cell;
    vertical-align: middle;
    width: 238px;
    font-size: 14px;
    margin: 5px;
  }
  .fas {
    display: table-cell;
    vertical-align: middle;
    color: #f6a362;
  }
  i {
    justify-self: end;
  }
}

.game-text{
  line-height:30px;

}

.title-align {
  display: flex;
  align-items: center;
  justify-content: left;

}

.left-arrow {
  width: 10%;
  padding-top: 10px;
  padding-right: 10px;
}
.img_signin{
  width: 10%;
}

.retour{
    font-family: Open Sans;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     font-size: 20px;
     letter-spacing: -0.458235px;
     color: #FFFFFF;
     text-align:center;
   position: relative;
   top:7px;

}

.retour:hover{
    color: #FFFFFF;
    text-decoration: none;
}

.head-show{
  margin-top:25px;

}
