.cont-search {
  background: linear-gradient(167.48deg, #F6A362 5.69%, #EA934F 96.53%);
  text-align : center;
  height : 100%;
  margin-right: auto;
  margin-left: auto;
  h1 {
    text-align : left!important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 41px;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #F2F2F2;
  }
  .label_question {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;
    letter-spacing: -0.458235px;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 30px;
    // align-items: space-between;
  }

  .collection_radio_buttons {
    &:first-child {
      color: yellow;
    }
  }

  form {
    background: linear-gradient(167.48deg, #F6A362 5.69%, #EA934F 96.53%);
    height: fit-content;
    margin-bottom: 40px;
    width: 100%;
  }

  body {
    background: linear-gradient(167.48deg, #F6A362 5.69%, #EA934F 96.53%);
  }

  .btn_all {
    margin: 30px auto;
  }
}

.cont-questions {
  height : 100vh;
  display: flex;
  text-align : center;
  // justify-content : space-between;
}

#nb_player {
  background-color: transparent !important;
  border: none!important;
  box-shadow: none !important;
  color: white !important;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 24px;
  text-align: center;
}

.number-spinner {
  display: flex;
  align-items: space-between;
}

#btnminus, #btnplus {
  border: 1px solid #ffffff61;
  padding: 0!important;
  background-color: #ffffff14;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10);
  color : white;
  min-width: 35px;
  height: 35px;
  &:active {
    box-shadow: none!important;
    background-color: white!important;
    color: #f09b58!important;
    border: 1px solid white;
  }
  &:focus, &:visited {
    border: 1px solid white;
  }
  // &:active {
  //   padding: 0!important;
  //   background-color: #ffffff14;
  //   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10);
  //   color : white;
  // }
}

.cont-duration, .cont-category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.duration-box, .category-box {
  color: white;
  // flex: 0 0 30%;
  border-radius: 10px;
  border: 1px solid white;
  margin: 5px;
  padding: 10px;
  width: 100%;
  font-weight: 500;
  background-color: #ffffff14;
}

[type="radio"]:checked + label {
    background-color: white;
    color: #f09b58;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }


