// .title_sign_up {
// font-family: Open Sans;
// font-style: normal;
// font-weight: bold;
// line-height: 41px;
// font-size: 32px;
// letter-spacing: 0.01em;
// color: #252A31;
// }



// .btn_h3 {
// font-family: Open Sans;
// font-style: normal;
// font-weight: bold;
// line-height: normal;
// font-size: 14px;
// text-align: center;
// color: #252A31;
// padding-bottom: 30px;
// margin-top: 20px;
// }

// #btn_h3_facebook {
// font-family: Open Sans;
// font-style: normal;
// font-weight: bold;
// line-height: normal;
// font-size: 14px;
// text-align: center;
// color: #FFFFFF;
// padding: 20px;

// }

// .btn_sign_up_main {

// background: #FFFFFF;
// border: 1px solid #DADADA;
// box-sizing: border-box;
// }

// .btn_sign_up {
//   width: 324px;
//   height: 58px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 12px;
//   border-radius: 50px;

// }

// #btn_sign_up_facebook {
//   background: #1C407B;
//   margin-top: 50px;
// }

// .text_box_sign_in {
//   width: 315px;
//   height: 48px;
//   left: 18px;
//   top: 437px;

//   box-shadow: 0px 2px 15px rgba(21, 35, 56, 0.26);

// }

.h3_facebook{

   font-family: Open Sans;
   font-style: normal;
   font-weight: bold;
   line-height: normal;
   font-size: 14px;
   text-align: center;
   color: #FFFFFF;
   padding: 20px;

    &:hover{
     color:#fff;
    }

}
