<div class="home_body">
  <h1>Bienvenue <%= "#{current_user.first_name}" %>,</h1>

  <div class="container">
    <hr>
    <h3>Mes soirées</h3>
    <div class="scroller">
      <% current_user.creator_events.order(date: :desc).last(3).each do |event| %>
        <p>
          <%= link_to "#{event.date} | #{event.creator.address}", event_path(event) %>
        </p>
      <% end %>
    </div>

    <hr>

    <h3>Mes invitations</h3>
    <div class="scroller">
      <% current_user.attendee_events.order(date: :desc).last(3).each do |event| %>
        <p>
          <%= link_to "#{event.creator.first_name} | #{event.date} | #{event.creator.address}", event_path(event) %>
        </p>
      <% end %>
    </div>
</div>
