<div class="home_body">
  <h1>Bienvenue <%= "#{current_user.first_name}" %> !</h1>

  <div class="container">

<%= link_to new_event_path do  %>
  <button class="btn_all">Créer une soirée jeux</button>
  <% end %>

    <h3>Mes soirées</h3>
    <div class="scroller">
      <% @my_event.each do |event| %>
        <div class="invit-box">
          <p>
            <%= link_to "#{event.date} | #{event.place_to}", event_path(event) %>
          </p>
        </div>
      <% end %>
    </div>

    <hr>

    <h3>Mes invitations</h3>
    <div class="scroller">
      <% @invitations.each do |event| %>
        <div class="invit-box">
        <p>
          <%= link_to "#{event.creator.first_name} | #{event.date} | #{event.place_to}", event_path(event) %>
        </p>
        </div>
      <% end %>
    </div>
</div>
