<h1>Trouver un jeu</h1>

<form action="/games/suggestions" method="GET">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="nb_player">Vous êtes combien ?</label>
  <input type="number" name= "nb_player" id= "nb_player">
  <label for="duration">Quelle durée de jeu ?</label>
  <select name="duration" id="duration">
    <option value="fast"> Rapide (- de 35min) </option>
    <option value="medium"> Moyen (entre 35min et 1h)</option>
    <option value="long"> Long (+ de 1h) </option>
  </select>
  <label for="category">Quel type de jeu ?</label>
  <select name="category" id="category">
    <option value="Ambiance"> Ambiance </option>
    <option value="Stratégie"> Stratégie </option>
    <option value="Junior"> Junior </option>
  </select>
  <input type="submit" value="Trouver !">
</form>
