<h1>Trouver un jeu</h1>

<form action="/games/search/search_games" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="nb_player">Vous êtes combien ?</label>
  <input type="number" name= "nb_player" id= "nb_player">
  <label for="duration">Quelle durée de jeu ?</label>
  <input type="number" name= "duration" id= "duration">
  <label for="category">Quel type de jeu ?</label>
  <select name="category" id="category">
    <option value="ambiance"> Ambiance </option>
    <option value="stratégie"> Stratégie </option>
    <option value="junior"> Junior </option>
  </select>
  <input type="submit" value="Trouver !">
</form>

