<div class="container cont-search">
  <div class="row">
    <%= link_to root_path do %>
      <div class="title-align">
        <%= image_tag 'left-arrow.png', class: "left-arrow" %>
        <h1 class="title_sign_up">Choisir son jeu</h1>
      </div>
      <% end %>
    <div class="cont-questions">
      <form action="/games/suggestions" method="GET">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <label class="label_question" for="nb_player">Vous êtes combien ?</label>
        <div class="col-xs-6 col-xs-offset-3">
              <div class="input-group number-spinner">
                <span class="input-group-btn">
                  <button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus" id="glyphicon-minus"></span></button>
                </span>
                <input type="number" name= "nb_player" class="form-control text-center" min="1" max="8+" value="1" id= "nb_player">
                <span class="input-group-btn">
                  <button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus" id="glyphicon-plus"></span></button>
                </span>
              </div>
            </div>
        <div>
          <label class="label_question" for="duration">Quelle durée de jeu ?</label>
          <div class="cont-duration">
            <div class="row">
              <div class="col-xs-12">
                <div>
                  <input type="radio" name="duration" value="fast" id="fast" class = "hidden">
                  <label class= "duration-box" for="fast">Rapide (- de 20min)</label>
                </div>
                <div>
                  <input type="radio" name="duration" value="medium" id="medium" class = "hidden">
                  <label class= "duration-box" for="medium">Moyen (entre 25 et 45min)</label>
                </div>
                <div>
                  <input type="radio" name="duration" value="long" id="long" class = "hidden">
                  <label class= "duration-box" for="long">Long (+ de 50min)</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <label class="label_question" for="category">Quel type de jeu ?</label>
          <div class="cont-category">
            <div class="row">
              <div class="col-xs-12">
                <div>
                  <input type="radio" name="category" value="Ambiance" id="Ambiance" class = "hidden">
                  <label class= "category-box" for="Ambiance"><i class="fas fa-cocktail"></i> Ambiance</label>
                </div>
                <div>
                  <input type="radio" name="category" value="Stratégie" id="Stratégie" class = "hidden">
                  <label class= "category-box" for="Stratégie"><i class="fas fa-brain"></i> Stratégie</label>
                </div>
                <div>
                  <input type="radio" name="category" value="Junior" id="Junior" class = "hidden">
                  <label class= "category-box" for="Junior"><i class="fas fa-child">   </i>   Junior</label>
                </div>
              </div>
            </div>
          </div>
        </div>

      <input class="btn_all" type="submit" value="Trouver !">
      </div>
    </form>
  </div>
</div>
