<h1>Suggestions</h1>

<% if @games[0].nil? %>
  <p>Désolé, aucun jeu ne correspond à tes critères :( </p>
  <% else %>
    <% @games.each do |hash| %>
      <li>
      <%= hash["name"] %></li>
    <% end %>
<% end %>
