
.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px

  }
  .form-control {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 1px 4px 10px rgba(21, 35, 56, 0.15);

    border-radius: 3px;
    font-size: 15px;
  }
  .form-control-label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
  }
  .form-check-label  {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    padding-left: 10px;
    opacity: 0.5;
  }
  .form-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    padding-bottom: 60px;
    opacity: 0.5;

  }
  .form-check-input {
    border: 1px solid;
    color: red;

  }

  a {
    font-family: Open Sans;
    font-style: italic;

    line-height: normal;
    font-size: 14px;
    text-align: center;
    color: #252A31;
    opacity: 0.5;

  }

}

.title_sign_up{
font-family: Open Sans;
font-style: normal;
font-weight: bold;
line-height: 41px;
font-size: 18px;
letter-spacing: 0.01em;
color: #FFFFFF;
}

.title_sign_up {
font-family: Open Sans;
font-style: normal;
font-weight: bold;
line-height: 41px;
font-size: 28px;
letter-spacing: 0.01em;
color: #252A31;
}

#btn_h3_google {
font-family: Open Sans;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 14px;
text-align: center;
color: #252A31;
margin-left: 25px;
padding-bottom: 10px;
}

.btn_h3 {
font-family: Open Sans;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 14px;
text-align: center;
color: #252A31;
padding-bottom: 10px;
// margin-top: 20px;
}

#btn_h3_facebook {
font-family: Open Sans;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 14px;
text-align: center;
color: #FFFFFF;
padding: 20px;
margin-bottom: 23px;
// padding-bottom: 10px;

}

// #btn_h3_google {
// background: #FFFFFF;
// border: 1px solid #DADADA;
// box-sizing: border-box;

// }

.btn_sign_up_main {

background: #FFFFFF;
border: 1px solid #DADADA;
box-sizing: border-box;
}

.btn_sign_up {
  width: 324px;
  height: 58px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}

#btn_sign_up_facebook {
  background: #24538e;
  margin-top: 50px;
}

.text_box_sign_in {
  width: 315px;
  height: 48px;
  left: 18px;
  top: 437px;

  box-shadow: 0px 2px 15px rgba(21, 35, 56, 0.26);

}

.btn_connexion {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 1px 4px 10px rgba(21, 35, 56, 0.26);
  border-radius: 50px;
  width: 229px;
  height: 56px;
  margin: auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-align: center;
}

.btn_inscription {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 1px 4px 10px rgba(21, 35, 56, 0.26);
  border-radius: 50px;
  width: 229px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-align: center;


}

.form-login {
  padding: 0 20px;
  overflow: hidden;
  max-height: 0;
  transition: all ease 0.9s;

  &.show {
    max-height: 20000px;
  }
}


